body {
    font-family: Roboto;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;

}


.header-web {
    color: #2196F3;
    font-family: Raleway;
    font-size: 26px;

    font-weight: 700;
    line-height: 1.38;
    /* 4 */
    letter-spacing: 0.78px;
}

.header-web:hover {
    color: #2196F3;
    font-family: Raleway;
    font-size: 26px;

    font-weight: 700;
    line-height: 1.38;
    /* 4 */
    letter-spacing: 0.78px;
}

.header-stud {
    color: #000;
    font-family: Raleway;
    font-size: 26px;

    font-weight: 700;
    line-height: 1.38;
    /* 5 */
    letter-spacing: 0.78px;
}


.header-box {
    display: flex;
    padding-top: 24px;
    padding-bottom: 25px;
    outline: solid lightgray 0.5px;
}

.header-navigation {
    display: flex;
    justify-content: space-evenly;
    margin-right: auto;
    margin-left: 93px;

}

.header-list {
    display: flex;

    flex-direction: row;
    justify-content: space-between;
    gap: 52px;
    align-self: center;
}

.header-link {
    color: #212121;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
}
.header-item:hover::after{
    display: flex;
  justify-content: center;
  align-items: center;
  max-width: 720px;
  margin: 0 auto;
  height: 100vh;
  list-style: none;
}
.header-addres {
    color: #757575;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
}

.hero-box {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.hero {
    content: "";
    display: inline-block;
    background-image: url("../img/hero.webp");
    background-position: 50% 50%;
    padding-top: 200px;
    padding-bottom: 200px;
    width: 1205px;
    height: 600px;
    flex-shrink: 0;

}

.hero-title {
    display: flex;
    justify-content: center;
    align-self: center;
    width: 696px;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;

    font-size: 44px;
    font-weight: 900;
    line-height: 60px;
    /* 136.364% */
    letter-spacing: 2.64px;
    text-transform: uppercase;
}

.hero-order {
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    width: 216px;
    height: 50px;
    margin-top: 30px;
    border-radius: 4px;
    background: #2196F3;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.hero-title {
    display: flex;
    justify-content: center;
    align-self: center;
    width: 696px;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;

    font-size: 44px;
    font-weight: 900;
    line-height: 60px;
    /* 136.364% */
    letter-spacing: 2.64px;
    text-transform: uppercase;
}

.advent {
    padding-top: 94px;
    padding-bottom: 94px;
}

.pages-list_advent {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.advent-text {
    margin-top: 10px;
    color: #757575;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 171.429% */
    letter-spacing: 0.42px;
}

.about-box {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

}

.about {
    padding-bottom: 94px;
}

.about-title {
    color: #212121;
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.08px;
}

.about-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    gap: 30px;

}

.team-members {
    padding-top: 94px;
    padding-bottom: 94px;
    background: #F5F4FA;
    flex-wrap: nowrap;
}

.team-box {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

}

.team-icon {
    width: 25px;
    height: 25px;
}

.container-list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 50px;
}

.container-header {
    color: #212121;
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.08px;

}

.about-picture {
    width: 370px;
    height: 294px;
    flex-shrink: 0;
    margin-top: 50px;
}

.container-picture {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 270px;
    height: 260px;


}

.container-item {
    border-radius: 0px 0px 4px 4px;
    background: #FFF;
    padding-bottom: 30px;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.container-name {
    color: #212121;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.48px;
    text-align: center;
    margin-top: 30px;
}

.container-title {
    color: #757575;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.48px;
    text-align: center;
    margin-top: 10px;
}

h3 {
    color: #212121;
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}

a:hover {
    color: #2196F3;
}

.pages-list>.pages-item>p {
    color: #757575;

    font-size: 14px;

    font-weight: 400;
    line-height: 24px;
    /* 6 */
    letter-spacing: 0.42px;
}

.footer {
    background: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 100px;
}

.footer-web {
    color: #2196F3;
    font-family: Raleway;
    font-size: 26px;

    font-weight: 700;
    line-height: 1.38;
    /* 4 */
    letter-spacing: 0.78px;
}

.footer-stud {
    color: #fff;
    font-family: Raleway;
    font-size: 26px;

    font-weight: 700;
    line-height: 1.38;
    /* 5 */
    letter-spacing: 0.78px;
}

.footer-text-gr {
    color: grey;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
    margin-bottom: 9px;
}

.footer-text-adrs {
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    /* 171.429% */
    letter-spacing: 0.42px;
    margin-top: 20px;
    margin-bottom: 9px;
}

.portfolio-buttons {
    display: flex;
    justify-content: center;
    align-self: center;
    margin-top: 94px;
    margin-bottom: 56px;
}

.portfolio {
    display: flex;
    padding-bottom: 94px;
    flex-basis: calc((100% - 60px) /3);
}

.main-portfolio-absats {
    color: #757575;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 187.5% */
    letter-spacing: 0.48px;
}

.main-portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

}

.main-portfolio-item {
    position: relative;
    border: 2px solid #EEE;
    background: #FFF;
    flex-basis: calc((100% - 60px) /3);
    overflow: hidden;
}
.main-button1 {
    color: #212121;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.48px;
    width: 103px;
    height: 38px;
    flex-shrink: 0;
    border-radius: 4px;
    border: #F5F4FA;
    background: #F5F4FA;
    width: 73px;
    height: 38px;
    flex-shrink: 0;
}

.main-button2 {
    color: #212121;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.48px;
    width: 103px;
    height: 38px;
    flex-shrink: 0;
    border-radius: 4px;
    border: #F5F4FA;
    background: #F5F4FA;
    width: 125px;
    height: 38px;
    flex-shrink: 0;
}

.main-button3 {
    color: #212121;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.48px;
    width: 103px;
    height: 38px;
    flex-shrink: 0;
    border-radius: 4px;
    border: #F5F4FA;
    background: #F5F4FA;
    width: 112px;
    height: 38px;
    flex-shrink: 0;
}

.main-button4 {
    color: #212121;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.48px;
    width: 103px;
    height: 38px;
    flex-shrink: 0;
    border-radius: 4px;
    border: #F5F4FA;
    background: #F5F4FA;

}

.main-button5 {
    color: #212121;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.48px;
    width: 103px;
    height: 38px;
    flex-shrink: 0;
    border-radius: 4px;
    border: #F5F4FA;
    background: #F5F4FA;
    width: 130px;
    height: 38px;
    flex-shrink: 0;
}

.main-portfolio-foto {
    width: 366px;
    height: 290px;
    flex-shrink: 0;
    margin-bottom: 20px;
    
}




.main-portfolio-item:hover {
    width: 366px;
    height: 404px;
    flex-shrink: 0;
    border: 1px solid #EEE;
    background: #FFF;
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.main-button1:hover {
    background: #2196F3;
    color: #FFF;
}

.main-button2:hover {
    background: #2196F3;
    color: #FFF;
}

.main-button3:hover {
    background: #2196F3;
    color: #FFF;
}

.main-button4:hover {
    background: #2196F3;
    color: #FFF;
}

.main-button5:hover {
    background: #2196F3;
    color: #FFF;
}

.main-portfolio-title {
    margin-bottom: 4px;
    padding-left: 24px;
    padding-right: 24px;
}

.main-portfolio-absats {
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;
}

.main-portfolio-title {
    color: #212121;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    /* 200% */
    letter-spacing: 1.08px;
}

.reg-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.reg-item {
    width: 170px;
    height: 92px;
    top: 2490px;
    left: 215px;
    gap: 0px;
    border-radius: 4px 0px 0px 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    padding-left: 30px;
    padding-right: 30px;


}

.reg-title {
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
    align-items: center;
}

.reg-clients {
    margin-top: 94px;
    margin-bottom: 94px;
}

.img-reg {
    display: flex;
    justify-content: center;
    align-items: center;
}

.media {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.join-title {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #fff;
}

.join-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}

.join {

    flex-direction: row;

}

.footer-container {
    display: flex;
}

.join-item {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.2);
    width: 50px;
    height: 50px;
    fill: rgba(255, 255, 255, 0.1);
    border-radius: 30px;
}

.join-item:hover {
    background: linear-gradient(180deg, #2196f3 0%, #2196f3 100%);
    border: 1px solid rgba(255, 255, 255, 0.2);
    width: 50px;
    height: 50px;
    fill: #2196f3;
    border-radius: 30px;
}

.team-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 30px;

}

.team-link:hover {
    background: linear-gradient(180deg, #2196f3 0%, #2196f3 100%);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.teammember-top {
    margin-top: 16px;
}

.advent-img {
    display: flex;
    width: 70px;
    height: 70px;


}

.advent-href {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 55px;
}

.header-icon {
    height: 16px;
    width: 34px;
}

.teammember-top {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}

.teamitem-top {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;

}

.reg-icon {
    display: flex;
    width: 106px;
    height: 60px;


}

.reg-item {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center
}

.container-right {
    margin-left: 70px;
}

.join-title {
    padding-left: 12px;
}

.fill-icon {
    fill: white;
}

.fill-company:hover {
    fill: #2196F3;
}

.fill-company {
    fill: #AFB1B8;
}

.reg-listconteiner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid #AFB1B8;

}

.reg-listconteiner:hover {
    border: 1px solid #2196F3;
}

.team-icon {
    fill: #AFB1B8;
}

.fill-info:hover {
    fill: #2196F3;
}

.fill-info {
    fill: #AFB1B8;
}

.reg-listconteiner:hover .fill-company {
    fill: #2196F3;
}

.teammember-icon:hover .team-icon {
    fill: #FFFFFF;
}

.thumb {
    position: relative;
    border-radius: 4px;
    overflow: hidden;

}

/* .thumb >*/
.label {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 8px 16px;
    border-bottom-left-radius: 4px;
    font-family: sans-serif;
    font-size: 24px;
    width: 370px;
    height: 70px;
    flex-shrink: 0;
    background-color: rgba(47, 48, 58, 0.80);
    color: #fff;
    justify-content: center;
}

.backdrop {
    position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  transition-duration: 1000ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 400px;
    min-height: 300px;
    padding: 15px;
    background-color: rgb(255, 255, 255);
    transform: translate(-50%, -50%);

}

.backdrop-svg {
    stroke: #FFFFFF;
    fill: transparent;
    width: 24px;
    height: 24px;
    flex-shrink: 0;

}

.backdrop-btn {
    display: block;
    margin-left: auto;
}

.information {
    width: 448px;
    height: 40px;
}

.information-komment {
    width: 448px;
    height: 150px;
}
.checkbox{
    display: flex;
width: 16px;
height: 15px;
}
.send{
    display: flex;
    justify-content: center;
    align-items: center;
    fill: #2196F3;
}
.backdrop.is-hidden{
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}
.header-item:hover::after{
    color: #2196F3;
    width: 48px;
    height: 4px;
    border-radius: 2px;
}


.div-overlay     {
    display: flex;
  align-items: end;
  background: rgba(0, 156, 253, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  opacity: 0;
  width: 370px;
    height: 290px;
  transition-duration: 1000ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .box:hover .div-overlay {
   opacity: 1;
    
  }
  
  .box:hover {
    background-color: #ffffff;
    overflow: hidden;
    
  }
  
  
  .div-overlay p {
    color: #fff;
    padding: 10px;
    margin: 0;
    font-size: 18px;
    justify-content: center;
    align-items: center;
  }
  
  .header-active:hover:after {
 
    display: block;
    content: "";
    background-color: #2196F3;
    width: 100%;
    height: 3px;
    margin-top: 10px;    

  }
 .header-item:hover::after{
    display: block;
    content: "";
    background-color: #2196F3;
    width: 100%;
    height: 3px;
    margin-top: 10px;    
 }
  